.crud-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.form-btn button {
  display: flex;
  min-width: 100%;
  justify-content: end;
}
